@model IEnumerable<ERP.Models.Ev>

@{
    ViewData["Title"] = "Index";
}
@section CssFiles{
    <link rel="stylesheet" href="~/css/btnsStyle.css" />
    <link rel="stylesheet" href="~/css/Pe/Index.css" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


}

<div class="event">
    <h1 style="
    font-size: 26pt;
">
        الأحداث
    </h1>
    <br />

    <form asp-action="Index" id="getBackForm">
        <span class="to-top" onclick="GoIndex()">
            <i class='bx bx-arrow-back'></i>
        </span>
    </form>



    <div class="DivSearch">

        <div class="Div-box">
            <a asp-action="Create" class="btndark btnlarge">إضافة حدث </a>

        </div>
        <div class="box">
            <input type="checkbox" id="check" />
            <div class="box-search">

                <form asp-action="Search" method="get">

                    <input type="search" name="value" placeholder="ابحث هنـــــا عن القيمة" required /><br />
                    <br />
                    <select name="col" class="select" asp-items="ViewBag.col">
                        <option value="" disabled="disabled" selected>
                            بحث عن طريق الـ...
                        </option>
                    </select>
                </form>
                <label for="check" class="icon">
                    @*<i class='bx bx-search bx-tada'></i>*@
                    <i class='bx bx-search-alt bx-tada bx-rotate-90'></i>
                </label>
            </div>
        </div>

    </div>
    <br />

    <table  id="t">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DaEv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ti1Ev)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TitEv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdPeNavigation.NaPe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ti2Ev)
                </th>
                <th>
                    @{ 
                        
                    }
                    @Html.DisplayNameFor(model => model.ArEv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoPrNavigation.CoPr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdEvRefNavigation.NaEvRef)
                </th>
                <th colspan="2">الاحداث</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @if(Model!=null)foreach (var item in Model)
            {
            <tr class="hoverRow">
                <td>
                    @Html.DisplayFor(modelItem => item.IdEv)
                </td>
                <td style="direction: ltr;">
                    @{
                        string date=string.Empty;
                        if (item.DaEv != null)
                        {
                            DateTime DaEv = item.DaEv.Value;
                            date = DaEv.Day + "-" + DaEv.Date.ToString("MMM") + "-" + DaEv.Year;
                        }
                        }
                    @Html.DisplayFor(modelItem => date)
                </td>
                <td>
                    @{
                        string t = string.Empty;
                        if (item.Ti1Ev != null)
                        {
                            DateTime time = item.Ti1Ev.Value;
                            t = time.Hour.ToString() + ":" + time.Minute.ToString();
                        }
                        }
                    @Html.DisplayFor(modelItem =>t)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitEv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPeNavigation.NaPe)
                </td>
                <td>
                    @{
                        string ti2 = string.Empty;
                        if (item.Ti2Ev != null)
                        {
                            DateTime Ti2Ev = item.Ti2Ev.Value;
                            ti2 = Ti2Ev.Hour.ToString() + ":" + Ti2Ev.Minute.ToString();
                        }
                        }
                    @Html.DisplayFor(modelItem => ti2)
                </td>
                <td>
                    @{ 
                        
                        string ArEv = item.ArEv==true ? "مؤرشف" : "غير مؤرشف";
                    }
                    @Html.DisplayName(ArEv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoPrNavigation.CoPr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEvRefNavigation.NaEvRef)
                </td>
                <td style="margin:1px;">
                    <a asp-action="Edit" asp-route-id="@item.IdEv" class="btndark btnmedium">التعديل</a>
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.IdEv" method="post" id="form_@item.IdEv.ToString()">
                        <a class="btndark btnmedium alert-danger" id="@item.IdEv" onclick="del(@item.IdEv)" style=" cursor: pointer;">حذف</a>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>



@if (ViewBag.Deele != null)
{
    <input type="hidden" value="@ViewBag.Deele" id="message" />
    <script>

        alert(document.getElementById('message').value);
    </script>
}

@section Scripts{
    <script>
        function del(id) {
            var formid = "form_" + id;
            if (confirm(" هل انت متأكد من حذف  العنصر الذي يحل الرقم " + id)) {
                document.getElementById(formid).submit();

            }

        }
        function det(id) {
            var formid = "form_" + id;
            document.getElementById(formid).submit();
        }
    </script>

}
